.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
 }
}